body{
		text-align: center;
		font-size: 30px;
		color : white;
}
#footer{
	position: fixed;
  	bottom: 0;
}
#score {
	margin-left: 45%;
	width: 10%;
    background-color:silver;
    border-radius: 20px;
}
button{
	height: 75px;
    width:175px;
    background-color: pink;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 30px;
    font-style: bold;
}
button:hover{
	background-color: orange;
}
.GameArea {
	width: 750px;
	height: 700px;
	margin: auto;

    display:flex;
    flex-wrap:wrap;
    
}

.hole{
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
    
}
.active{
    background: url(images/Bishwash_Head.png) no-repeat;
    background-size:contain;
}
.hole .molespot{
    height: 50%;
}
.hole .pit{
    height: 50%;
    background: url(images/hole.png) ;
    background-size:contain;
}

@media (max-width: 600px){
	button{display: none};

}



.hide{
    display: none;
}